<h3>Edit Alert</h3>
<hr />
<form class="form-horizontal">
	<!--Title-->
	<div class="form-group">
	    <label class="control-label col-lg-2 col-sm-4" for="title">Alert Location : </label>
	    <div class="col-lg-10 col-sm-8">
	    	<input type="text" class="form-control " id="title" ng-model="feedObj.location" required>
	    </div>
	</div>

	<!-- Type -->
	<div class="form-group">
	    <label class="control-label col-lg-2 col-sm-4" for="intensity">Alert Type : </label>
	    <div class="col-lg-4 col-sm-4">
	    	<select id="intensity" class="form-control" ng-model="feedObj.type">
	    		<option value="Traffic Jam">Traffic Jam</option>
	    		<option value="Heavy Traffic">Heavy Traffic</option>
	    		<option value="Road Diversion">Road Diversion</option>
	    		<option value="VIP Convey">VIP Convey</option>
	    		<option value="Work in Progress">Work in Progress</option>
	    		<option value="Notice">Notice</option>
	    		<option value="awarness">Awarness</option>
	    		<option value="other">Other</option>

	    	</select>
	    </div>
	</div>

	<!-- Message -->
	<div class="form-group">
	    <label class="control-label col-lg-2 col-sm-4" for="message">Alert Message : </label>
	    <div class="col-lg-10 col-sm-8">
	    	<textarea class="form-control" id="message" rows="7" ng-model="feedObj.message" required></textarea>
	    </div>
	</div>

	<!-- Intensity -->

	<div class="form-group">
	    <label class="control-label col-lg-2 col-sm-4" for="intensity">Alert Intensity : </label>
	    <div class="col-lg-4 col-sm-4">
	    	<select class="form-control" id="color" ng-model="feedObj.intensity" >
	    		<option value="high">High</option>
	    		<option value="medium" selected>Medium</option>
	    		<option value="low">Low</option>
	    		
	    	</select>
	    </div>
	</div>

	<!-- Bottom Buttons -->
	<div class="text-right">
		<button type="reset" class="btn btn-default">Reset</button>
		<a class="btn btn-warning" href="#/list">Cancel</a>
		<button type="submit" class="btn btn-success" ng-click="editFeed()">Publish</button>	
	</div>
</form> 

