<h3>View Alerts</h3>
<hr />
<div class="panel-group">
	<div class="panel " ng-repeat="feed in feeds | orderBy : '-time'" ng-class="BGColor(feed.intensity)">
		<div class="panel-heading ">
		{{feed.location}} 
		<span class="pull-right">{{showTime(feed.time)}}</span>
		</div>
		<div class="panel-body ">
			<i><u>{{feed.type}}</u></i>
			<br/>
			{{feed.message}}
		</div>
		<div class="text-right" style="margin:0 20px 5px 0;">
			<a href="#/edit/{{feed.$id}}" class="btn btn-xs btn-info" >Edit</a>
			<button class="btn btn-xs btn-danger" ng-click="deleteFeed(feed.$id)">Delete</button>
				
		</div>
	</div>
	<div ng-show="!feeds.length" class="text-center">
		<h4>Loading ...</h4>
	</div>
</div>

<style>
	.panel-yellow > .panel-heading{
		background-image: linear-gradient(to bottom,#f3fcc9 0,#f9fcba 100%) !important;
	}
</style>

